*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.signup-link a {
    text-decoration: none;
    color: #007bff;
}

.signup-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.loginButton{
    background-color: #006de2;
    width: 100px;
}